.resourceBox {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

.resourceContent {
  width: 88%;
}

.resourceIcon {
  width: 12%;
}

@include media(">=sm-desktop", "<desktop") {
  .resourceBox {
    padding: 18px 0;
  }
  
  .resourceIcon {
    width: 12%;
  }
}