.tag {
    display: inline-block;
}

.tagText {
    @extend %pill-surface;
    margin: 0;
}

.social {
    .tagText {
        background-color: $color-social-secondary;
        color: $color-social-capsule;
    }
}

.career {
    .tagText {
        background-color: $color-career-secondary;
        color: $color-career-primary;
    }
}

.academic {
    .tagText {
        background-color: $color-academic-secondary;
        color: $color-academic-capsule;
    }
}

.professional {
    .tagText {
        background-color: $color-career-secondary;
        color: $color-career-primary;
    }
}

.tag-small {
    .tagText {
        height: auto;
        font-size: 0.8rem;
        border-radius: $radius;
        padding: 2px 8px;
        margin: 0;
    }
}