@mixin debug-border {
    border: 1px solid purple;
}

@mixin top-gradient-border {
    &::before {
        content: "";
        background: $gradient;
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 0;
    }
}

@mixin bottom-gradient-border {
    &::after {
        content: "";
        background: $gradient;
        display: block;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}