.aboutSum, .aboutContainer {
  display: flex;
  margin: 32px auto;
  width: 900px;
  box-sizing: border-box;

  &.aboutSum {
    align-items: center;
    padding-right: 20px;
  }

  &.aboutContainer {
    padding: 0 20px;
    flex-direction: column;
    justify-content: left;
  }
}

.aboutWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.aboutImg {
  width: 250px;
  height: auto;
  padding-right: 4rem;
}

.sum {
  width: 70%;
}

.fullWidth {
  width: 100%;
}

.aboutHeader  {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  @include bottom-gradient-border-thick;

  h2 {
    margin: 24px 0;
  }
}

.addedMargin {
  margin-bottom: 20px;
}

.headerPadding {
  padding: 20px 0;
}

@include media(">=sm-desktop", "<desktop") {
  .aboutSum, .aboutContainer {
    width: 800px;
  }
}