.eventsPage {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 24px 0 64px;

    .calendar-tag-wrapper .tagText {
        background-color: white;
        border: 2px solid $color-primary;
        color: black;
    }
}

@include media(">=sm-desktop", "<desktop") {
    .eventsPage {
        max-width: 1000px;
    }
}
