.introduction {
    text-align: center;
    width: 60%;
    margin: 42px auto;

    & > h1 {
        margin: 0;
    }

    & > h1:first-of-type {
        font-size: 2.2rem;
    }

    & > h1:last-of-type {
        font-size: 2.2rem;
        margin-bottom: $margin-content;
    }

    & > p {
        margin: 0 auto;
        width: 90%;
        font-size: 1.1rem;
    }
}

.characterCardContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $margin-content*2;
}

.upcomingEvents {
    margin: $margin-content*4 0;
    
    h1 {
        margin: 0;
    }

    button {
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
}

.upcomingEventsCardContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: $margin-content 0;
    gap: $margin-content;
    background-color: $gray;
    padding: 24px;
    border-radius: $radius;

    span {
        z-index: -5;
    }

    .upcomingEventsBackground:nth-child(1) {
        top: -100px;
        left: -230px;
        width: 350px;
        opacity: 0.2;
        // opacity: 0.05;
        // filter: brightness(0%);
    }

    .upcomingEventsBackground:nth-child(2) {
        top: 330px;
        left: -160px;
        width: 300px;
        opacity: 0.2;
        // opacity: 0.05;
        // filter: brightness(0%);
    }

    .upcomingEventsBackground:nth-child(3) {
        top: 100px;
        right: -180px;
        width: 300px;
        opacity: 0.2;
        // opacity: 0.05;
        // filter: brightness(0%);
    }
}

.upcomingEventsBackground {
    position: absolute;
    z-index: -5;
}

.gallery {
    position: relative;
    width: 100%;

    h1 {
        margin-bottom: 64px;
    }

    & > div:last-of-type {
        height: 500px;

        img {
            position: absolute;
            bottom: -20px;
            z-index: 4;
            width: 320px;
        }
    }
}

.galleryImageContainer {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    text-align: center;

    & > div {
        display: inline-block;
        border-width: 3px;
        border-style: solid;
        border-radius: $radius;
        border-color: black;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    & > div:nth-of-type(1) {
        transform: rotate(5deg);
        width: 240px;
        height: 300px;
        margin-right: -30px;
    }
    & > div:nth-of-type(2) {
        transform: rotate(-15deg);
        width: 280px;
        height: 230px;
        margin-right: -6px;

        img {
            margin-top: -70px;
        }
    }
    & > div:nth-of-type(3) {
        transform: rotate(-5deg);
        width: 240px;
        height: 320px;
    }
    & > div:nth-of-type(4) {
        transform: rotate(5deg);
        width: 220px;
        height: 300px;
        z-index: 2;
        margin-left: -10px;
        margin-bottom: -50px;
    }
    & > div:nth-of-type(5) {
        transform: rotate(-5deg);
        width: 340px;
        height: 280px;
        z-index: 1;
        margin-left: -14px;
        margin-top: -40px;

        img {
            width: 500px;
            margin-left: -110px;
        }
    }
    & > div:nth-of-type(6) {
        transform: rotate(10deg);
        width: 300px;
        height: 300px;
        margin-left: -28px;
        margin-bottom: -20px;
        z-index: 3;
    }
    & > div:nth-of-type(7) {
        transform: rotate(-10deg);
        width: 300px;
        height: 260px;
        margin-top: -80px;
        margin-left: -26px;
        z-index: 4;
    }
    & > div:nth-of-type(8) {
        transform: rotate(5deg);
        width: 400px;
        height: 280px;
        margin-left: -20px;
    }
}

.characterBackground1 {
    z-index: -1;

    img {
        position: absolute;
    }

    img:nth-of-type(1) {
        width: 16px;
        left: 20px;
        opacity: 0.1;
        left: -150px;
        top: 30px;
    }
    img:nth-of-type(2) {
        width: 40px;
        top: 40px;
        left: -30px;
        opacity: 0.5;
    }
    img:nth-of-type(3) {
        width: 34px;
        top: 80px;
        left: -180px;
        opacity: 0.1;
    }
}

.characterBackground2 {
    z-index: -1;

    img {
        position: absolute;
    }

    img:nth-of-type(1) {
        width: 26px;
        left: -40px;
        top: -30px;
        opacity: 0.5;
    }
    img:nth-of-type(2) {
        width: 26px;
        left: -90px;
        top: 50px;
        opacity: 0.6;
    }
    img:nth-of-type(3) {
        width: 26px;
        left: -50px;
        top: 130px;
        opacity: 0.5;
    }
}

.characterBackground3 {
    z-index: -1;

    img {
        position: absolute;
    }

    img:nth-of-type(1) {
        width: 22px;
        left: -120px;
        top: 100px;
        opacity: 0.3;
    }

    img:nth-of-type(2) {
        width: 22px;
        left: -100px;
        top: 150px;
        opacity: 0.2;
    }
    img:nth-of-type(3) {
        width: 22px;
        left: -100px;
        opacity: 1;
        opacity: 0.2;
    }
}

.characterBackgroundRight {
    transform: scaleX(-1);
}

.backgroundIcons {
    position: absolute;

    img {
        position: absolute;
        width: 10px;
        height: 10px;
        opacity: 0.2;
        z-index: -2;
    }

    $elements: 500;
    @for $i from 0 to $elements {
        img:nth-child(#{$i + 1}) {
            top: random($limit: 300) * 1px;
            left: random($limit: 500) * 1px;
        }
    }
}

@include media(">=sm-desktop", "<desktop") {
    .introduction {
        width: 80%;
        margin-top: 24px;

        & > h1 {
            margin: 0;
        }
    
        & > h1:first-of-type {
            font-size: 32px;
        }
    
        & > h1:last-of-type {
            font-size: 32px;
        }
    
        & > p {
            width: 70%;
            font-size: 14px;
        }
    }
    
    .characterCardContainer {
        margin-top: 0;
        margin: 0 auto;
        transform: scale(0.8);
        width: 710px;
    }
    
    .upcomingEvents {
        margin: $margin-content 0;
        
        & > h1 {
            font-size: 28px;
            margin: 0;
        }
    
        button {
            display: block;
            margin-left: auto;
            margin-right: 0;
        }
    }

    .upcomingEventsCardContainer {
        padding: 18px;
    
        .upcomingEventsBackground:nth-child(1) {
            top: -140px;
            left: -240px;
            width: 350px;
        }
    
        .upcomingEventsBackground:nth-child(2) {
            top: 280px;
            left: -160px;
            width: 300px;
        }
    
        .upcomingEventsBackground:nth-child(3) {
            top: 100px;
            right: -180px;
            width: 300px;
        }
    }
    
    .gallery {    
        h1 {
            margin-bottom: 32px;
        }
    
        & > div:last-of-type {
            height: 420px;
    
            img {
                position: absolute;
                bottom: -20px;
                z-index: 4;
                width: 260px;
            }
        }
    }
    
    .galleryImageContainer {
        transform: translate(-50%, 0) scale(0.8);
    }
}
