.introduction {
    text-align: center;
    width: 60%;
    margin: $margin-content auto;

    & > h1 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.1rem;
    }
}

.characterCardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upcomingEvents {
    margin: $margin-content*3 0;
    
    h1 {
        margin: 0;
    }

    button {
        display: block;
        margin-left: auto;
        margin-right: 0;
    }
}

.upcomingEventsCardContainer {
    display: flex;
    justify-content: space-between;
    margin: $margin-content 0;
    gap: $margin-content;
}