h3 {
  margin: 0 0 0.6rem 0;
}

.resourceSum, .resourceContainer {
  display: flex;
  width: 80%;
  margin: 32px auto;
  box-sizing: border-box;
  position: relative;

  &.resourceSum {
    align-items: center;
    padding-right: 20px;
  }

  &.resourceContainer {
    padding: 0 20px;
  }
}

.resourceImg {
  width: 30%;
  height: auto;
  padding-right: 4rem;
  z-index: 2;
}

.summary {
  width: 70%;
  z-index: 2;
}

/* Resources section (where the components will go) styling */

.legend {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: relative;

  .legendHeader {
    text-transform: uppercase;
    font-family: $serif;
    z-index: 2;
    padding-top: 20px;
  }

  ul {
    margin: 0;
    padding: 0 0 0 1.25rem;
    z-index: 2;
  }
}

.resources {
  width: 75%;
}

/* Blobs styling, in chronological order */
.blob1 {
  background: radial-gradient(ellipse at center, #F8A6FF 0%, #FAE5FF 40%, rgba(109, 37, 100, 0) 70%);
  position: absolute;
  width: 500px;
  left: -110px;
  height: 300px;
  z-index: 1;
}

.blob2 {
  background: radial-gradient(ellipse at center, #fae8bc 0%, #fff4db 40%, rgba(109, 37, 100, 0) 70%);
  position: absolute;
  width: 700px;
  left: 150px;
  height: 300px;
  z-index: 1;
}

.blob3 {
  background: radial-gradient(ellipse at center, #d8e4f5 0%, rgba(109, 37, 100, 0) 65%);
  position: absolute;
  width: 300px;
  height: 300px;
  left: -100px;
  top: -50px;
  z-index: 1;
}
