h3 {
  margin: 0 0 0.6rem 0;
}

.resourceSum, .resourceContainer {
  display: flex;
  width: 80%;
  margin: 32px auto;
  border: 2px solid red;
  box-sizing: border-box;

  &.resourceSum {
    align-items: center;
    padding-right: 20px;
  }

  &.resourceContainer {
    padding: 0 20px;
  }
}

.resourceImg {
  width: 30%;
  height: auto;
  padding-right: 4rem;
}

.summary {
  width: 70%;
}

/* Resources section (where the components will go) styling */

.legend {
  display: flex;
  flex-direction: column;
  width: 25%;

  ul {
    margin: 0;
    padding: 0 0 0 1.25rem;
  }
}

.resources {
  width: 75%;
}
