#rootContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: clip;
}

.baseContainer {
    flex: 1;
    margin: 0 auto;
    width: 1200px;
    min-height: 300px;
    z-index: 1;
}

@include media(">=tablet") {
    .baseContainer {
        box-sizing: border-box;
        width: min(1200px, calc(100% - $page-margin * 2));
    }
}

@include media(">=sm-desktop", "<desktop") {
    .baseContainer {
        width: min(1000px, calc(100% - $page-margin * 2));
    }
}

@include media("screen", "<tablet") {
    .baseContainer {
        box-sizing: border-box;
        width: 100vw;
        padding-inline: $padding-content;
    }
}
