nav {
    margin: 0 auto;
    background-color: white;
    color: black;
    overflow: hidden;
    align-items: center;
    height: 50px;
    max-width: 1400px;
    display: flex;
    padding: 20px 120px;
    gap: 12px;
}

nav a {
    font-size: 16px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    padding: $padding-box-y $padding-box-x;
}

nav a:not(:first-child):hover {
    background-color: $gray;
    border-radius: $radius;
}

nav img {
    width: 60px;
}

nav span {
    flex: 1;
}

footer {
    position: relative;
    border-top: 1px solid rgb(201, 201, 201);
    width: 100%;

    a {
        font-size: 16px;
        color: black;
        text-align: center;
        text-decoration: none;
        padding: $padding-box-y 0;
    }
}

.footerContainer {
    margin: 0 auto;
    max-width: 1400px;
    padding: $padding-content*2;

    & > div:first-of-type {
        display: flex;
        box-sizing: border-box;
        background-color: white;
        margin-bottom: $margin-content*1;

        img {
            width: 150px;
        }

        & > div:nth-of-type(1) {
            flex: 1;
        }

        & > div:nth-of-type(2) {
            display: grid;
            grid-template-columns: min-content auto;
            width: 300px;
        }
    }

    & > div:last-of-type {
        display: flex;
        box-sizing: border-box;
        background-color: white;

        & > div:nth-of-type(1) {
            flex: 1;
        }

        & > div:nth-of-type(2) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
        }

        a {
            display: inline-block;
            padding: 0;
            cursor: pointer;
        }

        img {
            width: 32px;
            padding: 0;
        }
    }
}

#discord-footer-item {
    width: 28px;
}

#linkedin-footer-item {
    width: 24px;
}