nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    color: black;
    overflow: hidden;
    align-items: center;
    height: 60px;
    max-width: 1400px;
    display: flex;
    padding: 20px 120px;
    z-index: 100;
    gap: 12px;
    border-bottom: 1px solid white;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

    & > span:first-of-type {
        display: block;
        height: 50%;
        border-left: 1px solid black;
    }
}

.navBorder {
    height: 40px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

nav a {
    font-size: 16px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    padding: $padding-box-y $padding-box-x;
}

nav a:not(:first-child):hover {
    background-color: $gray;
    border-radius: $radius;
}

nav img {
    width: 60px;
}

nav span:last-of-type {
    flex: 1;
}

nav > div {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
}