.social { 
    color: $color-social-primary;
}

.career { 
    color: $color-career-primary;
}

.academic { 
    color: $color-academic-primary;
}

.primary {
    background-color: $color-primary;
    outline-color: $color-primary;
}

.black {
    background-color: black;
    outline-color: black;
}