body {
    font-family: 'MyriadPro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

h1 {
    font-family: 'TTRamillasTrial', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}